/* Contact Page CSS */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.left-side .details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-side {
  text-align: center;
}

.input-box {
  margin-bottom: 20px;
}

.input-box input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
}
